body{
    background-color: #00695C;
}
.col-sm-10 {
    background-color: #ffffff;
}
#side_menu a{
    color: #ffffff;

}
#side_menu .active a{
    color: #ffffff;
    background-color: #00897B;
    font-weight: bold;
}
#side_menu a:hover{
    color: #ffffff;
    background-color: #26A69A;
    font-weight: bold;
    display: block;
}